/* CSS for header */

header {
  padding: 2rem 1.5rem;
}

/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.25rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  nav ul {
    justify-content: flex-end;
  }
}

nav ul li {
  margin: 1.25rem;
  font-weight: 700;
  font-size: 1rem;
}

/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  nav ul li {
    margin: 0 1.25rem 0 0;
  }
}

nav ul li a {
  padding-bottom: 0.25rem;
}
