/* CSS for header */

header {
  padding: 1.25rem 0;
}
header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.25rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
  margin: 1.25rem;
  font-weight: 700;
  font-size: 1rem;
}
nav ul li a {
  padding-bottom: 0.25rem;
}
