/* CSS for Subpages */
.subpage-grid {
  display: grid;
}

/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  .subpage-grid {
    grid-template-columns: 5rem auto 5rem;
    grid-template-areas: ". subpage-content .";
  }
}
/* Desktop Media Query */

@media screen and (min-width: 62rem) {
  .subpage-grid {
    grid-template-columns: 10rem auto 10rem;
  }
}

/* Widescreen Media Query */

@media screen and (min-width: 87.5rem) {
  .subpage-grid {
    grid-template-columns: auto 70rem auto;
  }
}

.subpage-body h1 {
  padding: 1.5rem 0;
}
.subpage-body h2 {
  padding: 1rem 0;
}
.subpage-body figure {
  padding: 1rem 0;
  margin: 0;
}
.subpage-body figure h2 {
  padding: 1.5rem 0 0;
  margin: 0;
}
.subpage-body figcaption {
  padding: 1rem 0;
  line-height: 1.25rem;
  font-size: 0.9rem;
  color: var(--liteGray);
}

.subpage-grid-item {
  grid-area: subpage-content;
}

.subpage-body .link {
  font-weight: 700;
  border: 2px solid #000;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
.subpage-body section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}
.subpage-header {
  height: 35vh;
}

/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  .subpage-header {
    height: 50vh;
  }
}
/* Desktop Media Query */

@media screen and (min-width: 62rem) {
  .subpage-header {
    height: 40rem;
  }
}
/* Extra Large Media Query */

@media screen and (min-width: 75rem) {
  .subpage-header {
    height: 50rem;
  }
}

.subpage-body section article {
  padding: 1.5rem 0;
}
.subpage-body iframe {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/* Tablet Media Query */

@media screen and (min-width: 48rem) {
  .subpage-body iframe {
    width: 100%;
    height: 32.5rem;
  }
}

/* Desktop Media Query */

@media screen and (min-width: 62rem) {
  .subpage-body iframe {
    width: 100%;
    height: 42.5rem;
  }
}

/* Extra Large Media Query */

@media screen and (min-width: 62rem) {
  .subpage-body iframe {
    width: 100%;
    height: 47.5rem;
  }
}
