/* CSS for Subpages */

.subpage-body h1 {
  padding: 1.5rem 0;
}
.subpage-body h2 {
  padding: 1rem 0;
}
.subpage-body figure {
  padding: 1rem 0;
  margin: 0;
}
.subpage-body figure h2 {
  padding: 1.5rem 0 0;
  margin: 0;
}
.subpage-body figcaption {
  padding: 1rem 0;
  line-height: 1.25rem;
  font-size: 0.9rem;
  color: var(--liteGray);
}

.subpage-body .link {
  font-weight: 700;
  border: 2px solid #000;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
.subpage-body section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}
.subpage-header {
  height: 35vh;
}

.subpage-body section article {
  padding: 1.5rem 0;
}
.subpage-body iframe {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
